
/*
    Clases utilitarias.
*/
.text-primary-brand {
    color: var(--clr-green);
}

.text-primary-dark-brand {
    color: var(--clr-darkgreen);
}

.bg-primary-brand {
    background-color: var(--clr-green);
}

/* Menu */
.menu-principal {
    border-bottom: 1px solid var(--clr-darkgreen);
}

/* Footer */


/* Home */
.header-home {
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding: 5rem;
}