
/* Elementos */
:root {
    --clr-green: #118E33;
    --clr-green-rgb: 17, 142, 51;
    --clr-darkgreen: #044215;
    --clr-darkgreen-rgb: 4, 66, 21;
    --clr-white: #fff;
}

::selection {
    background-color: var(--clr-green);
    color: var(--clr-white);
}
/*
    Clases utilitarias.
*/
.text-primary-brand {
    color: var(--clr-green);
}

.text-primary-dark-brand {
    color: var(--clr-darkgreen);
}

.bg-primary-brand {
    background-color: var(--clr-green);
}
.bg-primary-dark-brand {
    background-color: var(--clr-darkgreen);
}

/* Brand Buttons */
.btn.btn-primary-brand, .btn-primary-brand:focus-visible {
    background-color: var(--clr-green);
    color: var(--clr-white);
}
.btn-primary-brand:hover {
    background-color: var(--clr-green);
    color: var(--clr-white);
    outline: rgb(var(--clr-green-rgb), 0.5) solid 4px;
}
/*
    Fin Clases utilitarias.
*/

/* Menu */
.menu-principal {
    border-bottom: 1px solid var(--clr-darkgreen);
}
.nav-link {
    font-weight: 600;
}
.nav-item .nav-link.active {
    box-shadow: 0 -3px var(--clr-green) inset;
    color: var(--clr-green);
}
/* Fin Menu */

/* Footer */
.footer-social {
    background-color: var(--clr-green);
    color: white;
}
.footer-social-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-social-list a {
    text-decoration: none;
    color: white;
    transition: opacity 0.25s ease-in;
}
.footer-social-list a:hover {
    opacity: 0.8;
}

/* ========== Estilos por página ========== */
.main-contacto, .main-asociate {
    background-color: var(--clr-green);
}
/* Home */
.header-home {
    background-image: url('../recursos/img/balon-futbol.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 1px black;
    padding: 8rem;
}
.header-title {
    border-radius: 5px;
    width: auto;
}
/* Fin Home */

/* Noticias */
.grilla-noticias {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* Galería */
.grilla-galeria {
    grid-template-columns: repeat(2, 1fr);
}

/* Contacto */
.main-contacto {
    background-color: var(--clr-green);
}
.radio-socio-control > .form-check-input, 
.radio-socio-control > .form-check-label {
    cursor: pointer;
}
/* Fin Contacto */